mixin projectEditForm(project = {})
 form.form(action=`/${project._id || ''}`  method="POST")
   label(for="title") Title: 
   input(type="text" name="title" value=project.title)
   textarea(name="description" placeholder="Type Project Description")= project.description
   input.button(type="submit" value="Update Project")