mixin storyForm(story = {})
 form.form(action=`/${story._id}/stories`  method="POST")
   label(for="title") StoryTitle: 
   input(type="text" name="storytitle" value=story.storytitle)
   textarea(name="storydescription" placeholder="Type Story Description")= story.storydescription
   input.button(type="submit" value="Add story")